body {
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3f2fd; /* azul muy claro */
  color: #0d47a1; /* azul oscuro */
}

header {
  background-color: #1976d2; /* azul medio */
  padding: 20px;
  text-align: center;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #bbdefb; /* azul claro */
  font-weight: bold;
}

nav a:hover {
  color: white;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(33, 21, 190, 0.438);
}

h2 {
  color: #1565c0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

footer {
  background-color: #192597;
  text-align: center;
